    <div class="container">
      <table id="tblbingo"></table>
    </div>
    <div class="letter-div">
      <td class="letter-bingo">B</td>
      <td class="letter-bingo">I</td>
      <td class="letter-bingo">N</td>
      <td class="letter-bingo">G</td>
      <td class="letter-bingo">0</td>
    </div>